.SearchResults {
    border: 1px solid #ccc;
    width: 100%;
    background-color: white;
}

.SearchResults div {
    cursor: pointer;
    display: inline-block;
    margin-right: 2px;
}

.Span {
    text-align: center;
    color: red;
    font-size: 18px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: white;
}

@media (max-width: 999px) {
    .SearchResults div{
        display: block;
        text-align: center;
    }
}